.navigation{
    display: flex;
    background-color:white;
    background-position: center;
    -ms-flex-align: baseline;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    width: 180px;
    height: 180px;
}
.leftside{
    display: flex;
}
.center{
    display: flex;
    justify-content:space-around;
    padding: 50px;
    font-size: 24px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d72c2;
    
}
.rightside{
    display: flex;
    width: 80px;
    height: 30px;
    color: white;
}
button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FF9F41;

}
.footer{
    display: flex;
    flex-direction: row;
    background-color: orange;
}
.leftFoot .middleFoot .iconFoot .rightFoot .bottomFoot{
    background-color: orange;
    display: flex;
}
.leftFoot {
    display: flex;
    width: 180px;
    height: 180px;
    flex-direction: row;
}
