.navigation{
    display: flex;
    background-color:white;
    background-position: center;
    -ms-flex-align: baseline;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
}
.logo{
    display: flex;
    width: 180px;
    height: 180px;
}
.leftside{
    display: flex;
}
.center{
    display: flex;
    justify-content:space-around;
    padding: 50px;
    font-size: 24px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d72c2;
    
}
.rightside{
    display: flex;
    width: 80px;
    height: 30px;
    color: white;
}
button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FF9F41;

}
.footer{
    display: flex;
    flex-direction: row;
    background-color: orange;
}
.leftFoot .middleFoot .iconFoot .rightFoot .bottomFoot{
    background-color: orange;
    display: flex;
}
.leftFoot {
    display: flex;
    width: 180px;
    height: 180px;
    flex-direction: row;
}
.bottomFoot{
    display: flex;
}
#fosterHero{
    display: flex;
    flex-direction: row;
    margin-inline: 100px;
}
#heroLeft{
    background-color: #FF9F41;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
    font-display: center;
}
#rightHero{
    display: flex;
    width: 50%;
}
#finImage{
    display: flex;
}
#becomeFoster{
    background-color: #294F6B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    font-weight: 100;
    color: white;
}
.Foster{
    display: flex;
    flex-direction: column;
    margin-block: 900px;
}
#fosterApp{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 100px;
}
.appNotice{
    color: #FF9F41;
}
.fosterHeader{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.appButton{
    background-color: white;
    color: blue;
    display: flex;
    padding: 25px;
}
